* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
}

input, button {
  border: none;
  font-size: inherit;
  font-family: inherit;
}

button, input[type="submit"] {
  background: none;
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

html, body {
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #1E1E1E;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  color: #fff;
}

.none {
  display: none;
}

.main {
  height: 100vh;
  background: url(../img/main/main-bg.jpg) center bottom no-repeat;
  background-size: cover;
}
.main__heading {
  text-align: center;
  color: #fff;
}
.main__title {
  font-size: 80px;
  line-height: 1.3;
  font-weight: bold;
  max-width: 880px;
  margin: 0 auto 15px;
}
.main__text {
  opacity: 0.8;
  max-width: 606px;
  margin: 0 auto 45px;
  font-size: 24px;
  line-height: 1.6;
}

@media (max-width: 1280px) {
  .main__title {
    font-size: calc(34px + (80 - 34) * (100vw - 320px) / (1280 - 320));
    margin-bottom: calc(0px + (15 - 0) * (100vw - 320px) / (1280 - 320));
  }
  .main__text {
    font-size: calc(18px + (24 - 18) * (100vw - 320px) / (1280 - 320));
  }
}
.header {
  padding: 40px 0;
  margin-bottom: 45px;
}
.header__dropdown {
  display: flex;
  column-gap: 12px;
  align-items: center;
  position: relative;
}
.active ~ .header__dropdown-content {
  display: flex;
}
.active .header__dropdown-ico {
  transform: rotate(180deg);
}
.header__dropdown-ico {
  transition: transform .2s linear;
}
.header__dropdown-ico path {
  fill: #fff;
}
.header__dropdown-content {
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity .2s linear;
}
.header__dropdown-content a {
  padding: 5px 10px;
  font-size: 15px;
  color: #1E1E1E;
}
.header__dropdown-content a:hover {
  background-color: rgba(196, 196, 196, 0.8);
  opacity: unset;
}
.header__nav a {
  transition: opacity .2s linear;
}
.header__nav a:hover {
  opacity: 0.8;
}
.header__nav ul {
  display: flex;
  column-gap: 65px;
}
.header__nav ul.open {
  display: flex;
  transform: translateY(0);
  padding: 70px 20px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  z-index: 10;
  flex-direction: column;
  row-gap: 30px;
}
.header__nav ul.open a {
  color: #1E1E1E;
  font-size: 30px;
  font-weight: 500;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__right-container {
  display: flex;
  align-items: center;
  column-gap: 40px;
}
.header__nav-btn {
  display: none;
}
.header__nav-btn.open span {
  background-color: #1E1E1E;
}
.header__nav-btn.open span:nth-child(1) {
  margin: -4px 0 0 5.5px;
  transform: rotate(45deg);
}
.header__nav-btn.open span:nth-child(2) {
  transform: rotate(-45deg);
  opacity: 0;
}
.header__nav-btn.open span:nth-child(3) {
  margin: 0 0 4px 5.5px;
  transform: rotate(-45deg);
}

@media (max-width: 1280px) {
  .header {
    padding: calc(20px + (40 - 20) * (100vw - 870px) / (1280 - 870)) 0;
    margin-bottom: calc(20px + (45 - 20) * (100vw - 870px) / (1280 - 870));
  }
}
@media (max-width: 870px) {
  .header {
    padding: 20px 0;
    margin-bottom: 20px;
  }
}
@media (max-width: 770px) {
  .header__nav ul {
    column-gap: 32px;
  }
}
@media (max-width: 570px) {
  .header__nav ul {
    display: none;
    transform: translateY(-100%);
    transition: .3s ease-in-out;
  }
  .header__nav-btn {
    display: block;
    width: 35px;
    height: 20px;
    position: relative;
  }
  .header__nav-btn span {
    position: absolute;
    left: 0;
    z-index: 11;
    transform: rotate(0deg);
    opacity: 1;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 2px;
    transition: .3s ease-in-out;
  }
  .header__nav-btn span:nth-child(1) {
    top: 0;
    transform-origin: left;
  }
  .header__nav-btn span:nth-child(2) {
    top: 10px;
  }
  .header__nav-btn span:nth-child(3) {
    top: 20px;
    transform-origin: left;
  }
  .header__dropdown-ico {
    width: 20px;
    height: 14px;
  }
  .header__dropdown-ico path {
    fill: #1E1E1E;
  }
  .header__dropdown-content {
    position: unset;
  }
}
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.search-form {
  max-width: 344px;
  margin: 0 auto;
}
.search-form__label {
  padding: 15px 0 15px 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 0.8px solid rgba(255, 255, 255, 0.6);
  border-radius: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-form__input {
  width: 100%;
  margin-right: 10px;
  background: none;
  color: #fff;
}
.search-form__input::placeholder {
  color: #fff;
  opacity: 0.8;
}
.search-form__button {
  margin-right: 8px;
  padding: 12.5px;
  border-radius: 50%;
  background: #E58411;
  transition: background 0.2s linear;
}
.search-form__button:hover {
  background: #e57011;
}
.search-form__button:hover .search-form__button-ico {
  transform: scale(1.1);
}
.search-form__button-ico {
  transition: transform 0.2s linear;
}

.why-choosing {
  padding: 120px 0;
}
.why-choosing__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 130px;
}
.why-choosing__heading {
  max-width: 242px;
  font-size: 42px;
  font-weight: bold;
}
.why-choosing__arguments-container {
  display: flex;
  column-gap: 28px;
}
.why-choosing__argument {
  max-width: 284px;
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
}
.why-choosing__argument-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  flex: 0 0 auto;
}
.why-choosing__argument-text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.8;
  flex: 1 0 auto;
}
.why-choosing__link-btn-container {
  flex: 0 0 auto;
}

@media (max-width: 1280px) {
  .why-choosing {
    padding: calc(40px + (120 - 40) * (100vw - 320px) / (1280 - 320)) 0;
  }
  .why-choosing__container {
    column-gap: calc(0px + (130 - 0) * (100vw - 900px) / (1280 - 900));
  }
  .why-choosing__heading {
    font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 900px) {
  .why-choosing__container {
    flex-wrap: wrap;
    column-gap: 0;
    row-gap: 30px;
  }
  .why-choosing__heading {
    max-width: unset;
  }
  .why-choosing__argument-title {
    margin-bottom: calc(10px + (20 - 10) * (100vw - 320px) / (900 - 320));
  }
}
@media (max-width: 670px) {
  .why-choosing__arguments-container {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .why-choosing__argument {
    max-width: unset;
  }
}
.link-btn {
  max-width: 123px;
  display: flex;
  column-gap: 13px;
  cursor: pointer;
  transition: .2s linear;
}
.link-btn__text {
  font-size: 14px;
  line-height: 1.8;
  color: #E58411;
}
.link-btn:hover {
  column-gap: 16px;
}

.best-selling {
  padding: 50px 0;
  background-color: #F7F7F7;
}
.best-selling__title {
  margin-bottom: 32px;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
}
.best-selling__heading {
  padding: 6px;
  margin: 0 auto 86px;
  width: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  background-color: #eee;
  border-radius: 44px;
  position: relative;
}
.best-selling__btn {
  padding: 7px 19.5px;
  border-radius: 32px;
  line-height: 1.85;
  color: #1E1E1E;
  transition: 0.2s linear, color 0.15s ease-in;
  z-index: 2;
}
.best-selling__btn[data-tab="#tab-1"] + .active ~ .glider {
  transform: translateX(110%);
}
.best-selling__btn[data-tab="#tab-2"] + .active ~ .glider {
  transform: translateX(215%);
}
.best-selling__btn[data-tab="#tab-3"] + .active ~ .glider {
  transform: translateX(320%);
}
.best-selling .glider {
  position: absolute;
  left: 8px;
  height: 47.29px;
  width: 80.3px;
  background-color: #fff;
  z-index: 1;
  border-radius: 32px;
  transition: 0.25s ease-out;
}
.best-selling__swiper {
  margin-bottom: 60px;
}
.best-selling__swiper-tab {
  display: none;
}
.best-selling__swiper-tab.active {
  display: block;
}
.best-selling__card {
  margin-top: 70px;
  border-radius: 20px;
  background-color: #fff;
  transition: transform .2s linear, background-color .2s linear;
}
.best-selling__card:hover {
  transform: translateY(-5px);
  background-color: #f2f2f2;
}
.best-selling__card:hover .best-selling__card-img {
  background-color: #e6e6e6;
}
.best-selling__card-img {
  width: 100%;
  height: 239px;
  background-color: #FAFAFA;
  border-radius: 20px 20px 0 0;
  position: relative;
  transition: background-color .2s linear;
}
.best-selling__card-pic {
  position: absolute;
  bottom: 33.5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.best-selling__card-info {
  padding: 14px 21px 27px;
  font-family: 'Inter';
  font-weight: 400;
}
.best-selling__card-section-name {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 1.25;
  color: #8D8D8D;
}
.best-selling__card-title {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 21px;
  line-height: 1.25;
  color: #0D1B39;
}
.best-selling__card-scores {
  margin-bottom: 36px;
  display: flex;
  column-gap: 5px;
}
.best-selling__card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.best-selling__card-footer p {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.25;
  color: #0D1B39;
}
.best-selling__card-footer p sup {
  font-size: 15px;
}
.best-selling__card-add-btn {
  padding: 15px;
  background-color: #0D1B39;
  border-radius: 50%;
}
.best-selling .link-btn {
  margin: 0 auto;
}
.best-selling .link-btn__text {
  font-size: 18px;
}

@media (max-width: 1280px) {
  .best-selling {
    padding: calc(40px + (50 - 40) * (100vw - 320px) / (1280 - 320)) 0;
  }
  .best-selling__title {
    font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
    margin-bottom: calc(20px + (32 - 20) * (100vw - 320px) / (1280 - 320));
  }
  .best-selling__heading {
    margin-bottom: calc(20px + (86 - 20) * (100vw - 320px) / (1280 - 320));
  }
  .best-selling__swiper {
    margin-bottom: calc(30px + (60 - 30) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 413px) {
  .best-selling__card-scores {
    margin-bottom: 10px;
  }
}
@media (max-width: 374px) {
  .best-selling__btn {
    padding: 7px 12.5px;
  }
  .best-selling .glider {
    left: 8px;
    height: 47.29px;
    width: 66.3px;
  }
}
.swiper {
  padding: 0 24px;
  position: relative;
}
.swiper-left-btn, .swiper-right-btn {
  position: absolute;
  top: 50%;
  z-index: 10;
  padding: 19px 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.swiper-left-btn_testimonials, .swiper-right-btn_testimonials {
  top: 25%;
}
.swiper-left-btn {
  transform: rotate(180deg);
  left: 0;
}
.swiper-right-btn {
  right: 0;
}

@media (max-width: 1280px) {
  .swiper {
    padding: 0 calc(0px + (24 - 0) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 624px) {
  .swiper-left-btn, .swiper-right-btn {
    display: none;
  }
}
.experiences {
  padding-top: 240px;
  padding-bottom: 204px;
}
.experiences__row {
  padding: 66px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  column-gap: 140px;
}
@media (max-width: 1447px) {
  .experiences__row {
    justify-content: flex-end;
  }
}
.experiences__bg {
  width: 602px;
  flex-shrink: 0;
  position: relative;
}
.experiences__bg::before {
  content: "";
  display: block;
  position: absolute;
  top: -66px;
  left: -38px;
  z-index: -1;
  width: 495px;
  height: 422px;
  border-radius: 20px;
  background-color: #F7F7F7;
}
.experiences__bg::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -61px;
  z-index: -1;
  width: 495px;
  height: 301px;
  border-radius: 20px;
  background-color: #F7F7F7;
}
.experiences__img {
  border-radius: 20px;
  box-shadow: 0px 47px 36px -23px rgba(180, 142, 67, 0.57);
}
.experiences__info {
  max-width: 696px;
  flex-shrink: 0;
}
.experiences__title {
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.175em;
  color: #E58411;
  text-transform: uppercase;
}
.experiences__subtitle {
  max-width: 413px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 42px;
  text-transform: capitalize;
}
.experiences p {
  margin-bottom: 24px;
  line-height: 1.8;
}

@media (max-width: 1580px) {
  .experiences {
    padding-top: calc(60px + (240 - 60) * (100vw - 1100px) / (1580 - 1100));
    padding-bottom: calc(60px + (204 - 60) * (100vw - 1100px) / (1580 - 1100));
  }
}
@media (max-width: 1280px) {
  .experiences__subtitle {
    font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
  }
  .experiences__row {
    column-gap: calc(70px + (140 - 70) * (100vw - 624px) / (1280 - 624));
  }
  .experiences__info {
    max-width: calc(500px + (696 - 500) * (100vw - 624px) / (1280 - 624));
  }
}
@media (max-width: 1100px) {
  .experiences {
    padding: calc(40px + (60 - 40) * (100vw - 320px) / (1100 - 320)) 0;
  }
}
@media (max-width: 624px) {
  .experiences__bg {
    padding: 8% 5% 12%;
    order: 2;
    flex-shrink: unset;
    width: unset;
    background-color: #F7F7F7;
  }
  .experiences__bg::before, .experiences__bg::after {
    display: none;
  }
  .experiences__img {
    box-shadow: 0px 27px 36px -23px rgba(180, 142, 67, 0.57);
  }
  .experiences__row {
    padding: 0;
    row-gap: calc(10px + (30 - 10) * (100vw - 320px) / (624 - 320));
    flex-direction: column;
  }
  .experiences__info {
    max-width: unset;
    flex-shrink: unset;
  }
}
.materials__row {
  display: flex;
  overflow: hidden;
}
.materials__info {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
}
.materials__body {
  max-width: 556px;
}
.materials__title {
  margin-bottom: 20px;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  font-weight: 600;
  color: #E58411;
}
.materials__subtitle {
  margin-bottom: 20px;
  max-width: 413px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
}
.materials p {
  margin-bottom: 24px;
  line-height: 1.8;
}
.materials__img {
  display: flex;
  column-gap: 42px;
  align-items: flex-end;
  max-width: 100%;
  flex: 0 0 894px;
  transform: translateX(-2000px);
}
@media (max-width: 4100px) {
  .materials__img {
    transform: translateX(calc(0px + (-2000 - 0) * (100vw - 220px) / (4100 - 220)));
  }
}
.materials__left-container {
  display: flex;
  flex-direction: column;
}
.materials__small-pic {
  margin-bottom: 47px;
  width: 223px;
  border-radius: 14.2px;
}
.materials__small-pic:first-child {
  box-shadow: 0px 45px 40px -21px rgba(77, 104, 125, 0.22);
}
.materials__small-pic:last-child {
  box-shadow: 0px 45px 40px -21px rgba(77, 77, 60, 0.22);
}
.materials__right-container {
  position: relative;
}
.materials__right-container::after {
  content: "";
  display: block;
  width: 495px;
  height: 422px;
  border-radius: 20px;
  background-color: #F7F7F7;
  position: absolute;
  top: -66px;
  left: 172px;
  z-index: -1;
}
.materials__big-pic {
  margin-bottom: 70px;
  width: 629px;
  border-radius: 20px;
  box-shadow: 0px 45px 40px -21px rgba(180, 142, 67, 0.42);
}

@media (max-width: 1280px) {
  .materials__subtitle {
    font-size: calc(28px + (42 - 28) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 946px) {
  .materials__body {
    max-width: calc(380px + (556 - 380) * (100vw - 624px) / (956 - 624));
  }
}
@media (max-width: 624px) {
  .materials__info {
    margin-bottom: 10px;
  }
  .materials__body {
    max-width: unset;
  }
  .materials__img {
    display: none;
  }
}
.testimonials {
  padding: 175px 0 214px;
}
.testimonials__heading {
  text-align: center;
}
.testimonials__title {
  margin-bottom: 20px;
  font-weight: 600;
  letter-spacing: 0.175em;
  text-transform: uppercase;
  color: #E58411;
}
.testimonials__subtitle {
  margin-bottom: 60px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
}
.testimonials__container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}
.testimonials__slider-card {
  width: 370px;
  height: 476px;
  position: relative;
  overflow: hidden;
}
.testimonials__slider-card:hover .testimonials__slider-card-bg {
  transform: scale(1.03);
}
.testimonials__slider-card-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: transform 0.5s linear;
}
.testimonials__info {
  padding: 38px 15px 17px;
  background-color: #fff;
  border-radius: 18.12px;
  text-align: center;
  position: relative;
}
.testimonials__people {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -33px;
  padding: 8px;
  background-color: #fff;
  border-radius: 50%;
}
.testimonials__name {
  margin-bottom: 6px;
  font-weight: 700;
  text-transform: capitalize;
}
.testimonials__subname {
  margin-bottom: 22px;
  font-size: 12px;
  opacity: 0.6;
}
.testimonials__text {
  margin: 0 auto 22px;
  max-width: 252px;
  font-size: 14px;
  opacity: 0.8;
}
.testimonials__scores {
  display: flex;
  column-gap: 6.17px;
  align-items: center;
  justify-content: center;
}
.testimonials__star {
  max-width: 11.67px;
}
.testimonials__star:last-child {
  opacity: 0.3;
}

@media (max-width: 1280px) {
  .testimonials {
    padding: calc(40px + (175 - 40) * (100vw - 320px) / (1280 - 320)) 0 calc(40px + (214 - 40) * (100vw - 320px) / (1280 - 320));
  }
  .testimonials__subtitle {
    margin-bottom: calc(25px + (60 - 25) * (100vw - 320px) / (1280 - 320));
  }
  .testimonials__subname {
    margin-bottom: calc(10px + (22 - 10) * (100vw - 320px) / (1280 - 320));
  }
  .testimonials__text {
    margin-bottom: calc(10px + (22 - 10) * (100vw - 320px) / (1280 - 320));
  }
  .testimonials__subtitle {
    font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 414px) {
  .testimonials__slider-card {
    height: calc(375px + (477 - 375) * (100vw - 320px) / (414 - 320));
  }
}
.footer {
  padding: 118px 0 56px;
  background-color: #F7F7F7;
}
.footer__top-row {
  margin-bottom: 120px;
  display: flex;
  column-gap: 152px;
}
.footer__panto {
  max-width: 293px;
}
.footer__panto p {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 500;
}
.footer__logo {
  margin-bottom: 30px;
  color: #1E1E1E;
  display: inline-block;
}
.footer__links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.footer__links ul {
  width: 133px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.footer__links button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__links button svg {
  display: none;
}
.footer__links li a {
  font-size: 15px;
  color: #1E1E1E;
  font-weight: 500;
  transition: 0.2s linear;
}
.footer__links li a:hover {
  opacity: 0.8;
}
.footer__btn span {
  margin-bottom: 4px;
  font-size: 17px;
  font-weight: 400;
  color: #E58411;
  transition: color 0.2s linear;
}
.footer__btn span:hover {
  color: #e57011;
}
.footer__follow-us a {
  display: flex;
}
.footer__follow-us-img {
  margin-right: 10px;
  width: 20px;
}
.footer__follow-us-pic {
  margin: 0 auto;
}
.footer__bottom-row {
  display: flex;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 15px;
  color: #5f5f5f;
}
.footer__documents {
  display: flex;
  column-gap: 40px;
}
.footer__documents a {
  font-size: 15px;
  line-height: 1.6;
  color: #1E1E1E;
  transition: opacity .2s linear;
}
.footer__documents a:hover {
  opacity: 0.8;
}

@media (max-width: 1280px) {
  .footer {
    padding: calc(30px + (118 - 30) * (100vw - 320px) / (1280 - 320)) 0 calc(20px + (56 - 20) * (100vw - 320px) / (1280 - 320));
  }
  .footer__top-row {
    column-gap: calc(15px + (152 - 15) * (100vw - 320px) / (1280 - 320));
  }
}
@media (max-width: 624px) {
  .footer__top-row {
    margin-bottom: calc(20px + (120 - 20) * (100vw - 320px) / (624 - 320));
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 0;
    row-gap: 30px;
  }
  .footer__panto {
    max-width: unset;
  }
  .footer__logo {
    margin-bottom: 10px;
  }
  .footer__links {
    justify-content: space-between;
  }
  .footer__documents {
    column-gap: 20px;
  }
}
@media (max-width: 414px) {
  .footer button svg {
    display: block;
  }
  .footer__btn span {
    color: #1E1E1E;
    transition: .3s ease-in-out;
  }
  .footer__btn span:hover {
    color: unset;
  }
  .footer__btn svg {
    transition: .3s ease-in-out;
  }
  .footer__btn svg path {
    fill: #1E1E1E;
  }
  .footer__btn.open svg {
    transform: rotate(180deg);
  }
  .footer__btn.open svg path {
    fill: #E58411;
  }
  .footer__btn.open span {
    color: #E58411;
  }
  .footer__spoller {
    padding: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    max-height: 58px;
    overflow: hidden;
    transition: .3s ease-in-out;
  }
  .footer__spoller.open {
    max-height: 200px;
  }
  .footer__links {
    flex-direction: column;
    row-gap: 5px;
  }
  .footer__links ul {
    width: unset;
  }
  .footer__top-row {
    row-gap: 10px;
  }
  .footer__bottom-row {
    flex-direction: column;
    text-align: center;
    row-gap: 10px;
  }
  .footer__documents {
    flex-direction: column;
    row-gap: 10px;
    order: 1;
  }
  .footer__copyright {
    order: 2;
  }
}
