.experiences {
  padding-top: 240px;
  padding-bottom: 204px;

  &__row {
    padding: 66px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    column-gap: 140px;

    @media(max-width: 1447px) {
      justify-content: flex-end;
    }
  }

  &__bg {
    width: 602px;
    flex-shrink: 0;

    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -66px;
      left: -38px;
      z-index: -1;

      width: 495px;
      height: 422px;
      border-radius: 20px;
      background-color: #F7F7F7;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -61px;
      z-index: -1;

      width: 495px;
      height: 301px;
      border-radius: 20px;
      background-color: #F7F7F7;
    }

  }

  &__img {
    border-radius: 20px;
    box-shadow: 0px 47px 36px -23px rgba(180, 142, 67, 0.57);
  }


  &__info {
    max-width: 696px;
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 20px;

    font-weight: 600;
    letter-spacing: 0.175em;
    color: $orange;
    text-transform: uppercase;
  }

  &__subtitle {
    max-width: 413px;
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 42px;
    text-transform: capitalize;
  }

  p {
    margin-bottom: 24px;
    line-height: 1.8;
  }
}

@media(max-width: 1580px) {

  .experiences {
    padding-top: calc(60px + (240 - 60) * (100vw - 1100px) / (1580 - 1100));
    padding-bottom: calc(60px + (204 - 60) * (100vw - 1100px) / (1580 - 1100));
  }

}

@media(max-width: 1280px) {

  .experiences {



    &__subtitle {
      font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
    }

    &__row {
      column-gap: calc(70px + (140 - 70) * (100vw - 624px) / (1280 - 624));
    }

    &__info {
      max-width: calc(500px + (696 - 500) * (100vw - 624px) / (1280 - 624));
    }

  }

}

@media(max-width: 1100px) {

  .experiences {
    padding: calc(40px + (60 - 40) * (100vw - 320px) / (1100 - 320)) 0;
  }

}

@media(max-width: 624px) {

  .experiences {

    &__bg {
      padding: 8% 5% 12%;
      order: 2;

      flex-shrink: unset;
      width: unset;

      background-color: #F7F7F7;

      &::before,
      &::after {
        display: none;
      }
    }

    &__img {
      box-shadow: 0px 27px 36px -23px rgba(180, 142, 67, 0.57);
    }

    &__row {
      padding: 0;
      row-gap: calc(10px + (30 - 10) * (100vw - 320px) / (624 - 320));
      flex-direction: column;
    }

    &__info {
      max-width: unset;
      flex-shrink: unset;
    }

  }

}



