.footer {
  padding: 118px 0 56px;
  background-color: #F7F7F7;

  &__top-row {
    margin-bottom: 120px;

    display: flex;
    column-gap: 152px;
  }

  &__panto {
    max-width: 293px;

    p {
      font-size: 15px;
      line-height: 1.6;
      font-weight: 500;
    }
  }

  &__logo {
    margin-bottom: 30px;
    color: $black;

    display: inline-block;
  }

  &__links {
    width: 100%;
    display: flex;
    justify-content: space-around;

    ul {
      width: 133px;

      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }



    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    button svg {
      display: none;
    }

    li a {
      font-size: 15px;
      color: $black;
      font-weight: 500;

      transition: 0.2s linear;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__btn {
    span {
      margin-bottom: 4px;

      font-size: 17px;
      font-weight: 400;
      color: $orange;

      transition: color 0.2s linear;

      &:hover {
        color: $orange-hover;
      }
    }
  }

  &__follow-us {
    a {
      display: flex;
    }
  }

  &__follow-us-img {
    margin-right: 10px;
    width: 20px;
  }

  &__follow-us-pic {
    margin: 0 auto;
  }

  &__bottom-row {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 15px;
    color: #5f5f5f;
  }

  &__documents {
    display: flex;
    column-gap: 40px;

    a {
      font-size: 15px;
      line-height: 1.6;
      color: $black;

      transition: opacity .2s linear;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}


@media(max-width: 1280px) {

  .footer {
    padding:  calc(30px + (118 - 30) * (100vw - 320px) / (1280 - 320)) 0
              calc(20px + (56 - 20) * (100vw - 320px) / (1280 - 320));

    &__top-row {
      column-gap: calc(15px + (152 - 15) * (100vw - 320px) / (1280 - 320));
    }
  }

}

@media(max-width: 624px) {

  .footer {

    &__top-row {
      margin-bottom: calc(20px + (120 - 20) * (100vw - 320px) / (624 - 320));

      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 0;
      row-gap: 30px;
    }

    &__panto {
      max-width: unset;
    }

    &__logo {
      margin-bottom: 10px;
    }

    &__links {
      justify-content: space-between;
    }

    &__documents {
      column-gap: 20px;
    }
  }

}

@media(max-width: 414px) {

  .footer {

    button svg {
      display: block;
    }

    &__btn {
      span {
        color: $black;
        transition: .3s ease-in-out;

        &:hover {
          color: unset;
        }
      }

      svg {
        transition: .3s ease-in-out;

        path {
          fill: $black;
        }
      }

      &.open svg {
        transform: rotate(180deg);

        path {
          fill: $orange;
        }
      }

      &.open span {
        color: $orange;
      }
    }

    &__spoller {
      padding: 15px;
      border: 2px solid #eee;
      border-radius: 10px;

      max-height: 58px;
      overflow: hidden;
      transition: .3s ease-in-out;

      &.open {
        max-height: 200px;
      }
    }

    &__links {
      flex-direction: column;
      row-gap: 5px;

      ul {
        width: unset;
      }
    }

    &__top-row {
      row-gap: 10px;
    }

    &__bottom-row {
      flex-direction: column;
      text-align: center;
      row-gap: 10px;
    }

    &__documents {
      flex-direction: column;
      row-gap: 10px;
      order: 1;
    }

    &__copyright {
      order: 2;
    }
  }

}
