.why-choosing {
  padding: 120px 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 130px;
  }

  &__heading {
    max-width: 242px;

    font-size: 42px;
    font-weight: bold;
  }

  &__arguments-container {
    display: flex;
    column-gap: 28px;
  }

  &__argument {
    max-width: 284px;

    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  &__argument-title {
    margin-bottom: 20px;

    font-size: 24px;
    font-weight: bold;

    flex: 0 0 auto;
  }

  &__argument-text {
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 1.8;

    flex: 1 0 auto;
  }

  &__link-btn-container {

    flex: 0 0 auto;


  }

}

@media(max-width: 1280px) {

  .why-choosing {
    padding: calc(40px + (120 - 40) * (100vw - 320px) / (1280 - 320)) 0;

    &__container {
      column-gap: calc(0px + (130 - 0) * (100vw - 900px) / (1280 - 900));
    }

    &__heading {
      font-size: calc(30px + (42 - 30) * (100vw - 320px) / (1280 - 320));
    }

  }

}

@media(max-width: 900px) {

  .why-choosing {

    &__container {
      flex-wrap: wrap;
      column-gap: 0;
      row-gap: 30px;
    }

    &__heading {
      max-width: unset;
    }

    &__argument-title {
      margin-bottom: calc(10px + (20 - 10) * (100vw - 320px) / (900 - 320));
    }

  }

}

@media(max-width: 670px) {

  .why-choosing {

    &__arguments-container {
      flex-wrap: wrap;
      row-gap: 30px;
    }

    &__argument {
      max-width: unset;
    }

  }

}